[submodule "third_party/testsuite"]
	path = third_party/testsuite
	url = https://github.com/WebAssembly/testsuite
[submodule "third_party/v8/v8"]
	path = third_party/v8/v8
	url = https://chromium.googlesource.com/v8/v8.git
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest
[submodule "third_party/squirrel"]
	path = third_party/squirrel
	url = https://github.com/albertodemichelis/squirrel/
