* text=auto
*.c text
*.h text
*.js text
*.l text
*.md text
*.py text
*.rst text
*.sh text
*.txt text
*.y text
demo/primer.css binary
demo/libwabt.js binary
demo/third_party/codemirror/codemirror.css binary
demo/third_party/codemirror/codemirror.js binary

# Mark these tests as binary so git doesn't change the line endings:
test/parse/bad-crlf.txt binary
test/parse/bad-string-eof.txt binary
test/regress/regress-31.txt binary

# Highlight tests like .wast files when displayed on GitHub.
test/**/*.txt linguist-language=WebAssembly

# Mark test-files as "vendored". This tells GitHub to exclude them when it
# calculates the repository's languages summary, and preserves the current
# classification as a C++ project. See https://git.io/vr2pO
test/**/*.txt linguist-vendored
