wasm-rt-impl.o
examples/fac/main.o
examples/fac/fac
examples/fac/fac.o
examples/rot13/main.o
examples/rot13/rot13
examples/rot13/rot13.c
examples/rot13/rot13.h
examples/rot13/rot13.o
examples/rot13/rot13.wasm
